
*{
  margin: 0;
  padding: 0;
  font-family: 'Baloo Tamma 2', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

/* Navigation Bar */
#navbar h2{
  font-weight: bolder;
  transform: scale(.98);
  transition: ease 1s;
  padding-top: .2em;
}

#navbar h2:hover{
  transform: scale(1.1);
}

#navbar a{
  color: black;
  text-decoration: none;
}

#navbar nav a{
  font-size: 1.35rem;
  padding: .6em .5em;
}

#navbar nav a:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

/* items */
#items img{
  width: 20px;
  height: 20px;
}

#items .col{
  padding: .8em;
  transform: scale(.98);
  transition: ease-in-out 0.3s;
}

#items .col:hover{
  background-color: rgba(0, 0, 0, 0.08);
  transform: scale(1);
  cursor: pointer;
}

#items h3{
  padding-left: 6px;
}

/* gallery */
#gallery .card{
  transform: scale(.96);
  transition: ease-in-out .6s;
}

#gallery .card:hover{
  transform: scale(1);
}

#gallery a{
  text-decoration: none;
}

/* Utility Classes */
.heading{
  display: inline-block;
  border-bottom: 4px solid skyblue;
  font-size: 40px;
}

img{
  cursor: pointer;
}

.container-fluid{
  transform: scale(.99);
  transition: ease-in-out 1s;
}

.container-fluid:hover{
  transform: scale(1.01);
}

/* Media Query */
@media screen and (max-width: 422px){
  #navbar nav a{
      font-size: 1.05rem;
      padding: .3em .2em;
  }
}